.popup {
  pointer-events: none;
  align-self: center;
  bottom: 18px;
  opacity: 0;
  line-height: 24px;
  font-family: var(--sub-font-name);
  font-size: 15px;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: var(--color-light);
  text-align: center;
  padding: 4px 4px;
  width: 392px;
  margin-top: auto;
  border-radius: 2px;
  z-index: 900;
  box-shadow: 0 4px 13px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.5, 0.35, 1);
}