.top {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
}

.top-inner {
  display: flex;
  justify-content: space-between;
  margin: auto 16px;
  font-size: 18px;
  font-family: var(--main-font-name-bold);
}

.regular-view-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "controls controls"
    "deck types"
    "deck curves"
    "deck pies"
    "deck rarities"
    "deck .";
}
